<!doctype html>
<html ng-app="uiComboboxDemo">
    <head>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/build/ui-combobox.css">
		<link rel="stylesheet" href="/misc/demo/demo.css">
    </head>
    <body ng-controller="DemoCtrl">
        <pre>uiComboboxConfig.dropdownPosition: {{ uiComboboxConfig.dropdownPosition }}</pre>
        <button class="btn btn-primary" ng-click="uiComboboxConfig.dropdownPosition = 'auto'">Auto</button>
        <button class="btn btn-primary" ng-click="uiComboboxConfig.dropdownPosition = 'top'">Top</button>
        <button class="btn btn-primary" ng-click="uiComboboxConfig.dropdownPosition = 'bottom'">Bottom</button>
        <section>
            <h4>Dropdown Position - Undefined</h4>
            <ui-combobox ng-model="model">
                <ui-combobox-choice ng-repeat="state in states">
                    <span ng-bind="state"></span>
                </ui-combobox-choice>
            </ui-combobox>
        </section>
        <section>
            <h4>Dropdown Position - 'auto'</h4>
            <ui-combobox dropdown-position="auto" ng-model="model">
                <ui-combobox-choice ng-repeat="state in states">
                    <span ng-bind="state"></span>
                </ui-combobox-choice>
            </ui-combobox>
        </section>
        <section>
            <h4>Dropdown Position - 'top'</h4>
            <ui-combobox dropdown-position="top" ng-model="model">
                <ui-combobox-choice ng-repeat="state in states">
                    <span ng-bind="state"></span>
                </ui-combobox-choice>
            </ui-combobox>
        </section>
        <section>
            <h4>Dropdown Position - 'bottom'</h4>
            <ui-combobox dropdown-position="bottom" ng-model="model">
                <ui-combobox-choice ng-repeat="state in states">
                    <span ng-bind="state"></span>
                </ui-combobox-choice>
            </ui-combobox>
        </section>
    </body>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/build/ui-combobox.js"></script>
    <script>
        angular.module('uiComboboxDemo', ['ui.combobox']).controller('DemoCtrl', [
            '$http',
            '$scope',
            'uiComboboxConfig',
        function($http, $scope, uiComboboxConfig) {
            $scope.uiComboboxConfig = uiComboboxConfig;
            $http.get('/misc/data/states.json').then(function(response) {
                $scope.states = response.data;
            });
        }]);
    </script>
</html>
