<div class="input-group">
    <input
        class="form-control"
        ng-disabled="disabled"
        ng-focus="openOnFocus === false || openOnFocus !== true && !uiComboboxConfig.openOnFocus || open()"
        ng-model="model"
        ng-pattern="pattern"
        ng-readonly="forceSelection === true || forceSelection !== false && uiComboboxConfig.forceSelection"
        ng-required="required"
		title="{{ model.value }}"
        type="text">
    <div class="input-group-btn">
        <button
            class="btn btn-default dropdown-toggle"
            ng-click="toggle()"
            ng-disabled="disabled"
            type="button">
            <span class="caret"></span>
        </button>
    </div>
</div>
<ul class="dropdown-menu" ng-show="isOpen" ng-transclude></ul>
